@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Colors */
  --color-primary: #16a34a;
  --color-primary-light: #22c55e;
  --color-primary-dark: #15803d;
  --color-secondary: #5f6FFF;

  /* Grid templates */
  --grid-template-columns-auto-fit: repeat(auto-fit, minmax(180px, 1fr));
}

* {
  font-family: Outfit;
}

::-webkit-scrollbar {
  @apply hidden;
}

*{
    font-family: Outfit;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
  }
}